<header>
    <div class="cabecera">
        <img src="assets/images/videojuegos.png" class="cabecera__imagen" />
    </div>
</header>

<main class="main">
    <app-blog></app-blog>

</main>


<footer>
    <ul class="iconos">
        <li><a href="https://github.com/jmneko" target="_blank"><img
                    src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="icono git"></a></li>

        <li class="icono_nombre">Jorge Muñiz Tarrio</li>

        <li><a href="https://www.linkedin.com/in/jorge-mu%C3%B1iz-tarrio/" target="_blank"><img
                    src="https://cdn-icons-png.flaticon.com/512/4401/4401412.png" class="icono linkedin"></a>

        </li>

    </ul>
</footer>